<a href="https://colab.research.google.com/github/nurhasanbiswas2021/task-1/blob/main/task1(21_04_25).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
#Import Necessary Libraries
import pandas as pd
import numpy as np

In [46]:
#Load the Dataset
df = pd.read_csv('marketing_campaign.csv', sep=';')

In [47]:
#Initial Data Inspection
print(df.head())

  ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0  5524,1957,Graduation,Single,58138,0,0,04-09-20...
1  2174,1954,Graduation,Single,46344,1,1,08-03-20...
2  4141,1965,Graduation,Together,71613,0,0,21-08-...
3  6182,1984,Graduation,Together,26646,1,0,10-02-...
4  5324,1981,PhD,Married,58293,1,0,19-01-2014,94,...

In [48]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                    --------------  -----
 0   ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response  2240 non-null   object
dtypes: object(1)
memory usage: 17.6+ KB
None

In [49]:
print(df.isnull().sum())

ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response    0
dtype: int64

In [51]:
#Handle Missing Values
df = df.dropna()

In [52]:
#Remove Duplicate Rows
print(f"Duplicate rows before removal: {df.duplicated().sum()}")

Duplicate rows before removal: 0

In [53]:
df = df.drop_duplicates()

In [39]:
# Drop duplicate rows
df = df.drop_duplicates()

# Print duplicate rows after removal
print(f"Duplicate rows after removal: {df.duplicated().sum()}")

# Check if 'Education' column exists, and if not, try variations
if 'Education' in df.columns:
    df['Education'] = df['Education'].str.strip().str.lower()
else:
    # Try different variations of the column name
    possible_names = ['education', 'EDUC', 'Education Level']
    for name in possible_names:
        if name in df.columns:
            print(f"Found column '{name}' instead of 'Education'")
            df['Education'] = df[name].str.strip().str.lower()
            break
    else:
        print("Column 'Education' or its variations not found in the DataFrame.")

Duplicate rows after removal: 0
Column 'Education' or its variations not found in the DataFrame.

In [14]:
# Check if 'Marital_Status' column exists, and if not, try variations
if 'Marital_Status' in df.columns:
    df['Marital_Status'] = df['Marital_Status'].str.strip().str.lower()
else:
    # Try different variations of the column name
    possible_names = ['Marital_status', 'MARITAL', 'Marital Status', 'Marital_Stat']
    #Added some possible variations
    for name in possible_names:
        if name in df.columns:
            print(f"Found column '{name}' instead of 'Marital_Status'")
            df['Marital_Status'] = df[name].str.strip().str.lower()  # Corrected assignment
            break
    else:
        print("Column 'Marital_Status' or its variations not found in the DataFrame.")
        # Further investigation is needed to understand why the column is missing

Column 'Marital_Status' or its variations not found in the DataFrame.

In [16]:
# Check if 'Dt_Customer' column exists, and if not, try variations
if 'Dt_Customer' in df.columns:
    df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='%d-%m-%Y')
else:
    # Try different variations of the column name
    possible_names = ['dt_customer', 'DtCustomer', 'Date_Customer']  # Add more variations if needed
    for name in possible_names:
        if name in df.columns:
            print(f"Found column '{name}' instead of 'Dt_Customer'")
            df['Dt_Customer'] = pd.to_datetime(df[name], format='%d-%m-%Y')  # Use the found column name
            break
    else:
        print("Column 'Dt_Customer' or its variations not found in the DataFrame.")
        # Further investigation is needed to understand why the column is missing

Column 'Dt_Customer' or its variations not found in the DataFrame.

In [42]:
#Rename Column Headers
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [43]:
#Check and Fix Data Types
print(df.dtypes)

id,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,recency,mntwines,mntfruits,mntmeatproducts,mntfishproducts,mntsweetproducts,mntgoldprods,numdealspurchases,numwebpurchases,numcatalogpurchases,numstorepurchases,numwebvisitsmonth,acceptedcmp3,acceptedcmp4,acceptedcmp5,acceptedcmp1,acceptedcmp2,complain,z_costcontact,z_revenue,response    object
dtype: object

In [44]:
#Save the Cleaned Dataset
df.to_csv('cleaned_marketing_campaign.csv', index=False)